@(expenseForm : Form[ExpenseItem])

@import helper._
@import helper.twitterBootstrap._

@main("Expense list") {
    
    @form(routes.ExpenseController.add) {
      @inputDate(expenseForm("date"), 'format -> "dd.MM.yyyy", '_help -> "", '_label -> "Дата")
      @inputText(expenseForm("summary"), 'placeholder -> "Описание", '_label -> "Описание")
      @inputText(expenseForm("amount"), 'placeholder -> "Сумма", '_help -> "", '_label -> "Сумма")
      <input type="submit" value="Сохранить">
    }
<!--script>
      $('.datepicker').datepicker({
    	  format:'dd.mm.yyyy',
    	  weekStart:1
      });
      
</script-->
}